.wall{
    background-color: #414141;
}
.starting{
    background-color: #BFE45D;
}
.target{
    background-color: #D436CA;
}
.searching{
    background-color: #E19223;
}
.path{
    background-color: #4D57D2;
}
.box{
    height: 5px;
    width: 5px;
    padding: 16px;
}

@media screen and (max-width: 1911px) {
    .box{
        height: 3px;
        width: 3px;
        padding: 10px;
    }
}