.wall{
    background-color: rgb(109, 46, 46);
}
.starting{
    background-color: rgb(11, 240, 60);
}
.target{
    background-color: rgb(194, 20, 218);
}
.searching{
    background-color: rgb(236, 216, 28);
}

.path{
    background-color: rgb(30, 180, 168);
}